[submodule "refs/devvit"]
	path = refs/devvit
	url = https://github.com/reddit/devvit
[submodule "refs/devvit-docs"]
	path = refs/devvit-docs
	url = https://github.com/reddit/devvit-docs.git
[submodule "devvit-template-phaser"]
	path = devvit-template-phaser
	url = https://github.com/reddit/devvit-template-phaser.git
